In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importer les bibliotheques necessaire a notre implementation

In [ ]:
%pylab inline
import os
import numpy as np
import pandas as pd
from imageio import imread
from sklearn.metrics import accuracy_score

import tensorflow as tf
import keras

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python3.7/dist-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['imread']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [ ]:
# definir une graine aleatoire
seed = 128
rng = np.random.RandomState(seed)

In [ ]:
root_dir = os.path.abspath('/content/drive/MyDrive/dossier1/') #on se connecte a notre repertoire de travail dossier1
data_dir = os.path.join(root_dir, 'data') 
sub_dir = os.path.join(root_dir, 'sub')

In [ ]:
train = pd.read_csv(os.path.join(data_dir, 'train.csv')) 
test = pd.read_csv(os.path.join(data_dir, 'test.csv')) 

sample_submission = pd. read_csv(os.path.join(data_dir, 'sample_submission.csv')) 

train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0